[submodule "CamerAPI"]
	path = CamerAPI
	url = git@github.com:santiagopardal/CamerAPI.git
[submodule "CamerAPP"]
	path = CamerAPP
	url = git@github.com:santiagopardal/CamerAPP.git
[submodule "libs/CamerAIProtos"]
	path = libs/CamerAIProtos
	url = git@github.com:santiagopardal/CamerAIProtos.git
[submodule "videos_processor"]
	path = videos_processor
	url = git@github.com:santiagopardal/videos_processor.git
