[submodule "CamerAPI"]
	path = CamerAPI
	url = git@github.com:santiagopardal/CamerAPI.git
[submodule "CamerAPP"]
	path = CamerAPP
	url = git@github.com:santiagopardal/CamerAPP.git
[submodule "libs/VideosMerger"]
	path = libs/VideosMerger
	url = git@github.com:santiagopardal/VideosMerger.git
[submodule "libs/CamerAIProtos"]
	path = libs/CamerAIProtos
	url = git@github.com:santiagopardal/CamerAIProtos.git
